<%- include("../template/encabezado") %>
<%- include("../template/menu") %>
<div class="container mt-5">
    <form action="/editarUsuario" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h1>Modificar Usuario</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id %>">
                <input type="hidden" name="foto" id="foto" value="<%= user.foto %>">
                <input type="hidden" name="passwordAnterior" id="passwordAnterior" value="<%= user.password %>">
                <input type="hidden" name="salt" id="salt" value="<%= user.salt %>">
                <input class="form-control mb-3" value="<%= user.nombre %>" type="test" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" value="<%= user.usuario %>" type="test" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" value="" type="test" name="password" id="password" placeholder="Password Nuevo (Para mantener deja en blanco)">
                <input class="form-control mb-3" type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary">Modificar Usuario</button>
            </div>
        </div>
    </form>
</div>
<%- include("../template/pie") %>